/*--------------- common style and utilities------------------  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/*------------------------ header styles start----------------------- */
header {
    background-color: #2D25A0;
    padding-top: 135px;
    padding-bottom: 86px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-text h1 {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 0.7;
    color: #FFFFFF;
}

.banner-text p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
}

.banner-text a {
    text-decoration: none;
    font-size: 16px;
    color: white;

}

.banner-photo img {
    width: 556px;
    height: 438px;
}

header:hover img {
    transform: rotate(30deg);
    transition: transform 1s ease-in-out;
}

/*----------------------- header styles end ------------------------- */

/*---------------------------------
        players part styles start
----------------------------------- */
main {
    margin-top: 70px;
}

.container {

    margin-top: 30px;
    justify-content: center;
    display: flex;
}

.players {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    text-align: justify;
    padding: 15px;
    margin-left: 30px;

}

.player img {
    width: 100%;
    display: block;
    margin: auto;
}

.player-info {

    font-size: 16px;
    color: #6C6C6C;

    text-align: justify;

}

/* -----------------------players part style end ----------------------- */

/* ---------------------------------
          top team part style start
   ---------------------------------*/
.top-team h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    margin-top: 165px;
}

.teams {
    display: flex;
    justify-content: center;
}

.team {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gainsboro;


}

.team-name {
    font-size: 20px;
    color: gray;

}

span {
    color: orange;
}

.team-pic img {
    width: 100%;
    height: 250px;


}

.teams-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

/* ----------------------top team part style end------------------------------- */

/* ------------------follow cop america style start ----------------------------*/
.copa-america {
    display: flex;
    justify-content: center;
    margin-top: 158px;
    margin-bottom: 158px;
}

.copa-banner {
    background-color: rgb(7, 7, 48);
    width: 1350px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.follow-text {
    padding-bottom: 20px;
}

.follow-text h3 {
    font-size: 30px;
    color: white;
}

.follow-text a {
    text-decoration: none;
    background-color: yellow;
    color: gray;
    font-size: 15px;
    padding: 10px 40px;
    font-weight: 900;
    border-radius: 20px;
}

.follow-text a:hover {
    background-color: cyan;
}

.follow-icon {
    padding-top: 20px;
}

.follow-icon img {
    width: 80px;
    height: 50px;
}

/* ---------------------follow copa america style end ------------------------------ */
/*---------------------
  Footer Style Start 
  ---------------------*/

.fotter-image {
    display: flex;
    justify-content: center;
    margin-top: 175px;
    align-items: center;

}

footer img {

    width: 483.87px;
    height: 110px;
    align-items: center;
}

.icon {

    display: flex;
    justify-content: center;
}

.fab {
    margin-left: 14px;
    width: 32px;
    height: 32px;
}

.copyright {

    display: flex;
    justify-content: center;
    margin-bottom: 35px;

}

/*--------------- Footer Style End----------------- */